<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset encoding="UTF-8">
		<meta name="viewport" content="width=content-width, initial-scale=1.0">
	</head>
	<body>
		<main>
			<h1>freeCodeCamp Survey Form</h1>
			<p>Thank you for taking the time to help us improve the platform</p>
			<form method="POST">
				<fieldset>
					<label for="name">Name
						<input type="text" id="name" name="name" placeholder="Enter Name" required>
					</label>
					<label for="email">Email
						<input type="email" id="email" name="email" placeholder="Enter Email" required>
					</label>
					<label for="age">Age(optional)
						<input type="number" id="age" name="age" min="15" max="120" placeholder="Age">
					</label>
					<label for="role">Which best describes your current role?
						<select id="select">
							<option name="">Select current role</option>
							<option name="value2">Student</option>
							<option name="value3">Fulltime job</option>
							<option name="value4">Fulltime learner</option>
							<option name="value5">Other</option>
						</select>
					</label>
				</fieldset>
				<fieldset>
					<label for="referal">
						<input type="radio" name="refer" checked id="definitely">Definitely
					</label>
					<label for="maybe">
						<input type="radio" name="refer" id="maybe">Maybe
					</label>
					<label for="unsure">
						<input type="radio" name="refer" id="unsure">Not sure
					</label>
				</fieldset>
				<fieldset>
					<label for="feature">What is your favorite feature of freeCodeCamp
						<select id="feature">
							<option value="" disabled>select an option below</option>
							<option name="value1">Challenges</option>
							<option name="value2">Projects</option>
							<option name="value3">Community</option>
							<option name="value4">Open source</option>
						</select>
					</label>
				</fieldset>
				<fieldset>
					<legend>What would you like to see improved? (Check all that apply)</legend>
					<label>
						<input type="checkbox" name="long" value="Front-end ProjectS"> Front-end Projects
					</label>
					<label>
						<input type="checkbox" name="long" value="Back-end Projects"> Back-end Projects
					</label>
					<label>
						<input type="checkbox" name="long" value="Data Visualization"> Data Visualization
					</label>
					<label>
						<input type="checkbox" name="long" value="Challenges"> Challenges
					</label>
					<label>
						<input type="checkbox" name="long" value="Open Source Community"> Open Source  Community
					</label>
					<label>
						<input type="checkbox" name="long" value="Gitter help vision"> Gitter help vision
					</label>
					<label>
						<input type="checkbox" name="long" value="Videos"> Videos
					</label>
					<label>
						<input type="checkbox" name="long" value="City Meetups"> City Meetups
					</label>
					<label>
						<input type="checkbox" name="long" value="Wiki"> Wiki
					</label>
					<label>
						<input type="checkbox" name="long" value="Additional Courses"> Additional courses
					</label>
				</fieldset>
				<fieldset>
					<label for="comments"> Any comments or suggestions?
						<textarea id="comments" name="comments" cols=40 rows=4 placeholder="Enter your comments here... ">
						</textarea>
					</label>
				</fieldset>
				<fieldset>
					<label for="terms-and-conditions"> By checking the box below you agree to the terms and conditions
						<input type="checkbox" id="terms-and-conditions" name="terms"> I accept the <a href="www.google.com">terms and conditions</a>
					</label>
					<button type="submit">
						Submit
					</button>
				</fieldset>
			</form>
		</main>
	</body>
</html>
